# OS (운영체제) 생성 찌꺼기 파일 무시
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE (IntelliJ, VSCode) 설정 파일 무시
.idea/
.idea
*.iml
.vscode/
/.idea/

# 의존성 폴더
node_modules/



# 의존성 폴더
node_modules/